.contact{
    font-size: 75px;
    color: var(--fontColor);
    position:absolute;
    top: 1%;
    right: 5%;
    text-align: end;
}
.message{
    font-size: 15px;
    color: var(--fontColor);
    position:absolute;
    bottom:35%;
    right: 5%;
    text-align: end;
}
@media (max-width: 200px) {
    .contact{
        font-size: 1.5vw;
    }
    .message{
        font-size: 0.5vw;
        bottom:50%;
    }
}
@media (min-width: 201px) and (max-width: 600px) {
    .contact{
        font-size: 25px;
    }
    .message{
        font-size: 10px;
        bottom:45%;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .contact{
        font-size: 50px;
    }
    .message{
        font-size: 12px;
        bottom:40%;
    }
}