.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill{
    width:8vw;
    height:8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--borderColor) 1px;
    border-radius: 10%;
    margin: 20px;
}
.svgs {
    height:4vw;
    width:4vw;
}
.change{
    filter: invert(var(--svgInvert));
}
