.techcontainer{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:white;
}
.skill{
    font-size: 1vw;
    margin:8px;
    min-width: 0.5vw;
    padding: 5px 15px;
    border: outset 2px white;
    border-radius: 50px;
}
@media (max-width: 499px) {
    .skill{
        font-size: 8px;
    }
}
@media (min-width:500px) and (max-width: 850px) {
    .skill{
        font-size: 10px;
    }
}