.techcontainer{
    width:75%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.skill{
    font-size: 1vw;
    font-weight: lighter;
    display:flex;
    justify-content: center;
    align-items: center;
    height:2.5vw;
    min-width: 60px;
    padding: 0vw 1vw 0vw 1vw;
    color:white;
    margin: 1vw;
    border: 1px solid white;
    border-radius: 50px;
}
