.App{
    position:absolute;
    border: 2px solid var(--borderColor);
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color:var(--backgroundColor);
}
.ver{
    position: absolute;
    left:50%;
    color:white;
    border: solid 1px white;
    height: 100%;
}