@import url('https://fonts.googleapis.com/css?family=Nunito');

:root{
  --backgroundColor:black;
  --fontColor:white;
  --borderColor:white;
  --svgInvert:100%;
}
body {
  margin: 0;
  font-family:'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
  overflow:hidden;
}
@media (max-width:350px) {
  body{
    overflow:scroll;
  }
}
a,Link{
  color:var(--fontColor);
  padding:0px 25px;
  text-decoration: none;
}
a:hover, Link:hover{
  color: grey;
}